body {
  background-image: linear-gradient(to bottom left, skyblue, white);
  opacity 0.5
}

h1 {
  color: white;
  text-align:center;
  font-family: helvetica;
  font-size: 250%;
}

p.info {
  color: white;
  font-family: helvetica;
  font-size: 100%;
  border-left: 2px solid white;
  text-align:center;
  margin-left: 40%;
  margin-right: 40%;
  
}
