body {
  background-image: linear-gradient(to bottom left, skyblue, white);
}

h1 {
  color: black;
  text-align:center;
  font-family: helvetica;
  font-size: 250%;
}

p.info {
  color: black;
  font-family: helvetica;
  font-size: 100%;
  border-left: 3px solid white;
  text-align:center;
  margin-left: 250px;
  margin-right: 250px;
  
}

p.right {
  margin: 0px;
  color: black;
  text-align:right;
  font-family: helvetica;
  font-size: 100%;
  border: 2px inset white;
  margin-left: 500px;
  margin-right: 10px
}
