body {
  background-image: linear-gradient(to bottom left, skyblue, white);
  background-opacity: 0.5;
}

h1 {
  color: black;
  text-align:center;
  font-family: helvetica;
  font-size: 250%;
}

p.info {
  color: black;
  text-align:center;
  font-family: helvetica;
  font-size: 100%;
  border-left: 3px ridge purple;
  border-position: relative;
  
}

p.right {
  margin: 0px;
  color: black;
  text-align:right;
  font-family: helvetica;
  font-size: 100%;
}
